.reservation-card {
    width: 600px;
    background-color: #f9f9f9;
    border: 2px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.reservation-info {
    text-align: left; /* Bilgileri sola hizalar */
}

.reservation-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.reservation-button:hover {
    background-color: #cc0000;
}
