.search-bar-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Align to the top */
  height: auto; /* Adjust height to account for header */
  padding-top: 20px; /* Optional: Add some padding at the top */
  width: 100%;
  margin: 0 auto;
  background-color: #ffff;
  flex-direction: column;
}


.search-bar {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 20px;
    background-color: #2b77c4;
    border-radius: 5px;
    width: auto;
    margin: 0 auto;
  }
  
  .search-bar input,
  .search-bar button {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .checkbox-container {
    display: flex;
    align-items: left;
    margin-left: -800px;
    margin-top: 10px;
  }
  
  .checkbox-container input {
    margin-right: 10px;
  }
  
  
  .search-bar button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
  }
  
  .search-bar button:hover {
    background-color: #0056b3;
  }